@import '../../../../mixins/colors.scss';
@import '../../../../mixins/typography.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 138px);
  max-width: 547px;

  margin: 0 auto;

  text-align: center;
}

.title {
  @include titleMixin();
  
  margin-bottom: 10px;

}

.description {
  margin-bottom: 47px;
  color: $grey;
}

.img {
  margin-bottom: 74px;
}

.back-link {
  display: flex;
  align-items: center;
  
  font-weight: 400;
  
  color: $grey;
  border: 1px solid $grey;
  background-color: $white;
  
  transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;


  &:hover {
    background-color: $light-gray;
    color: $black;
    border-color: $black;

    svg {
      path {
        stroke: $black;
      }
    }
  }

}