@mixin subtitleMixin {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

@mixin priceMixin {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

@mixin logoTextMixin {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@mixin defaultTextMixin {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@mixin titleMixin {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

@mixin variantBarTextMixin {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}