@import '../../../mixins/typography.scss';
@import '../../../mixins/colors.scss';

.pizza-card-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

@mixin pizzaImage {
  width: 244px;
  height: 244px;

}
.pizza-img {
  @include pizzaImage();

  margin-left: 16px;
}

.pizza-empty-img {
  @include pizzaImage();

  background-color: $light-gray;
}


.pizza-name {
  @include subtitleMixin();

  color: $black;
  margin: 20px 0;

}

.variant-bars-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: min(100%, 280px);

  padding: 7px 6px;
  margin-bottom: 17px;

  border-radius: 10px;
  
  background-color: $medium-gray;

  > :not(:last-child) { 
    margin-bottom: 7px;
  }
}


.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: min(100%, 280px);
}

.price {
  @include priceMixin();
}